@import url(./fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply font-tt-octosquares;
  }
  button {
    @apply font-tt-octosquares;
  }
}

html, body {
  min-height: 100vh;
  overflow: hidden;
}

:root {
  font-family: 'TT Octosquares', 'Ethnocentric';
  color: white;
}

